---
layout: default
title: CS142 Lectures
nav: Lectures
---

<div class="container">
  <h1>{{ page.title }}</h1>
  <ul class="nav nav-pills">
    {% for week in site.lectures %}
      <li><a href="#week{{ week.week }}">Week {{ week.week }}</a></li>
    {% endfor %}
  </ul>

  <section>
    {% for week in site.lectures %}
      <div class="row container" id="week{{ week.week }}"> <!-- need container for 15px padding -->
        <h3 class="left-border"> Week {{ week.week }} </h3>
        {% for day in week.days %}
          <div class="col-md-4 col-sm-12 col-xs-12">
            <h4>{{ day.title }}</h4>
            <h5 class="text-muted">{{ day.day }}</h5>
            {% for slide in day.slides %}
              <p><a href="lectures/{{ slide.url }}">{{ slide.name }}</a></p>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </section>

</div>

<script src="js/smooth-scroll.js"></script>